.card-grande{
    width: 350px;
    height: 400px;
    background-color: blue;
}

.secao{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 110px;
}
.card-pequeno{
    justify-content: center;
    width: 350px;
    height: 190px;
    background-color: blue;
}

.secao2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
